

.dropdown {
    background: #dbddff;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    overflow: hidden;
    margin: 5px 0;

    min-height: min-content;
    display: flex;
}

.dropdown-header {
    background: white;
    padding: 0.5em;
    display: flex;
    justify-content: space-between
}

.dropdown-header p {
    width: 25%;
    margin: 0;
}

.dropdown-header:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.dropdown-content {
    margin: 0.5em;
    display: none;
    align-items: center;
    justify-content: space-around;
}